<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> Express Website</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
          <a class="navbar-brand" href="#">Express Website</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    
          <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav ml-auto">
              <li class="<%= title === 'Home' ? 'nav-item active' : 'nav-item' %>">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="<%= title === 'About' ? 'nav-item active' : 'nav-item' %>">
                <a class="nav-link" href="/about">About Us</a>
              </li>
              <li class="<%= title === 'Contact' ? 'nav-item active' : 'nav-item' %>">
                  <a class="nav-link" href="/contact">Contact Us</a>
              </li>
            </ul>
          </div>
        </nav>