<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RESTFul Blog App</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">    
    <link rel="stylesheet" href="/stylesheet/app.css">
</head>
<body>
    
        <div class="ui fixed inverted  menu">
            <div class="ui container">
                <div class="header item">
                    <i class="code icon"></i>RESTFul Blog
                </div>
                <div class="right menu">
                    <a class="active item" href="/blogs"> Home </a>
                    <a class="item" href="/blogs/new"> New blog </a>
                </div>   
            </div>
        </div>