<% include partials/header %>

<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">Add new Campground!</h4>
  <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
  <hr>
  <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
</div>
<div class="row" style="width: 30%; margin: 0 auto;">
<h1>New Campground</h1>
<form action="/campgrounds" method="post">
  <div class="form-group">
    <label for="InputCampName">Camp Name</label>
    <input type="text" name="name" placeholder="name of campground" class="form-control" id="campName" aria-describedby="nameHelp">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="InputImageAddress">Camp Image Address</label>
    <input type="text" name="image" class="form-control" id="campImage" placeholder="Password">
  </div>
  <div class="form-group">
    <label for="InputImageDescription">Camp Description</label>
    <input type="text" name="description" class="form-control" id="campDescription" placeholder="Description">
  </div>
  <button type="submit" class="btn btn-primary btn-md btn-block">Submit</button>
</form>
</div>
<% include partials/footer %>