<% include partials/header %>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Registeration</h1>
        <p>This is a template for simple user registration.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="container">
        <form action="/register" method="post">
            <div class="form-group">
              <label for="userName">Email address</label>
              <input type="text" class="form-control" id="userName" aria-describedby="userName" placeholder="Enter username">
              <small id="userName" class="form-text text-muted">We'll never share your username with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="inputPassword">Password</label>
              <input type="password" class="form-control" id="inputPassword" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        
        <hr>
      
      <% include partials/footer %>