<% include ./partials/header %>

<div class="ui main text container segment">
    <div class="ui header">New Blog</div>
    <form class="ui form" action="/blogs" method="POST">
        <div class="field">
            <label for="blog[title]">Title</label>
            <input type="text" name="blog[title]" placeholder="title">
        </div>
        <div class="field">
            <label for="blog[image]">Image</label>
            <input type="text" name="blog[image]" placeholder="title">
        </div>
        <div class="field">
            <label for="blog[body]">Body</label>
            <textarea name="blog[body]" id="blogBody" cols="30" rows="10"></textarea>
        </div>
        <button class="ui inverted blue button" type="submit">Submit</button>
    </form>
</div>

<% include ./partials/footer %>